# Folders to ignore
venv
lib
log
.idea
# Filetypes to ignore
*.pyc
*.db
*.png

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

Utils/secret_config.py
csv_uploads/