beautifulsoup4==4.6.0
boto3==1.7.0
botocore==1.10.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
docutils==0.14
flask>=0.12.3
Flask-Login==0.4.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
future==0.16.0
geopy==1.12.0
gunicorn==19.7.1
idna==2.6
imutils==0.4.6
itsdangerous==0.24
Jinja2>=2.10.1
jmespath==0.9.3
MarkupSafe==1.0
numpy==1.14.2
opencv-python==3.4.0.12
passlib==1.7.1
Pillow==8.2.0
probableparsing==0.0.1
psycopg2==2.7.4
psycopg2-binary==2.7.4
pyasn1==0.4.2
PyJWT==1.6.1
PySocks==1.6.8
pytesseract==0.1.8
python-crfsuite==0.9.5
python-dateutil==2.6.1
pytz==2018.4
requests>=2.20.0
rsa==3.4.2
s3transfer==0.1.13
selenium==3.11.0
six==1.11.0
twilio==6.12.1
urllib3>=1.23
usaddress==0.5.10
Werkzeug==0.15.3
WTForms==2.1
yagmail==0.10.212
