<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Link versions of bootstrap and JavaScript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100vh;
            padding-top: 54px;
            display: flex;
            flex-direction: column;
        }

        @media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }

        .content-div {
            flex: 1 0 auto;
        }

        .footer_style {
            flex-shrink: 0;
        }
    </style>
</head>
<body>
<div class="content-div">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Athlessary</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('profile') }}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Workouts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Your Content Here -->
    <div class="row justify-content-center">
        <div class="d-flex flex-column">

            <table class="table">
                {% if car_info %}
                    {% for car in car_info %}
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">{{ car['driver']['first'] }} {{ car['driver']['last'] }}</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            {% if car['driver']['phone'] %}
                                <th scope="col">{{ car['driver']['phone'] }}</th>
                            {% else %}
                                <th scope="col">No number</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for athlete in car['athletes'] %}
                            <tr>
                                  <th scope="row">{{  loop.index}}</th>
                                <td>{{ athlete['first'] }} {{ athlete['last'] }}</td>
                                <td>{{ athlete['address'] }}, {{ athlete['city'] }}</td>
                                {% if athlete['phone'] %}
                                    <th scope="col">{{ athlete['phone'] }}</th>
                                {% else %}
                                    <th scope="col">No number</th>
                                {% endif %}                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endfor %}
                {% endif %}

            </table>
        </div>
    </div>

</div>
</body>
<script src="{{ url_for( 'static', filename='js/cars.js' ) }}"></script>

</html>