<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home Page</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for( 'static', filename='css/bootstrap.min.css' ) }}" rel="stylesheet">
    <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

    <script>
        $( document ).ready(function() {
            //get_workouts();
        });

        $( window ).on( "load", function() {
            get_workouts("{{ url_for('api_hello') }}");
            get_meters_rowed("{{ url_for('meters_rowed') }}");
            console.log( "window loaded" );
        });
    </script>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Athelessary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('workouts') }}">Workouts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- <div class="row">
      <div class="col-4">
        <div class="card">
          <img class="card-img" src="{{ url_for('static', filename=current_user.picture) }}" alt="John">
          <h1>John Doe</h1>
          <p class="title">CEO & Founder, Example</p>
          <p>Harvard University</p>
          <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
         </div>
      </div>
    </div> -->


    <div class="row">
      <!-- Profile -->
        <div class="col-9">
          <p style="padding-left:1em; font-weight:5;">PROFILE</p>
          <!-- profile row 1 -->
            <div class="row" style="padding:1em; padding-bottom:0em; padding-top:0em;">
              <!-- profile card -->
                <div class="col-9">
                  <div style="background-color: #f8f9fa; padding:1em;">
                    <div class="row">
                      <div class="col-3">
                        <img class="img-fluid" src="{{ url_for('static', filename=current_user.picture) }}" alt="">
                      </div>
                      <div class="col-9">
                        <p class="h4">{{ current_user.first }} {{ current_user.last }}</p>
                        <p>Arkansas</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3" style="background-color: #f8f9fa; padding:1em;">
                  <div style="background-color: #f8f9fa; padding:1em;">
                    <p id="meters_rowed" class="h4">348K</p>
                    <p>Meters Rowed</p>
                  </div>
                </div>
              </div>
            <!-- ROW 2 - some stats -->
              <div class="row" style="padding: 1em;">
                <div class="col-4">
                  <div style="background-color: #f8f9fa; padding:1em;">
                    <p class="h2" style="color:#B0C4DE;">49</p>
                    <p style="margin-bottom:0rem;">Practices Logged</p>
                  </div>
                </div>
                <div class="col-4">
                  <div style="background-color: #f8f9fa; padding:1em;">
                    <p class="h2" style="color:#B0C4DE;">23</p>
                    <p style="margin-bottom:0rem;">Supplementals Logged</p>
                  </div>
                </div>
                <div class="col-4">
                  <div style="background-color: #f8f9fa; padding:1em;">
                    <p class="h2" style="color:#B0C4DE;">2</p>
                    <p style="margin-bottom:0rem;">Years Rowed</p>
                  </div>
                </div>
              </div>
            <!-- ROW 3 - a graph -->
              <div class="row" style="padding:1em; padding-top:0em; padding-bottom:0em;">
                <div class="col-12">
                  <canvas id="myChart" class="chart"></canvas>
                </div>
              </div>
              <div class="row" style="padding:1em; padding-top:0em;">
                <div class="col-12 text-center" style="padding-top:0em;">
                  <form>
                    <select name="workout" id="workout">
                        {% for name in workouts %}
                            <option>{{ name['name'] }}</option>
                        {% endfor %}
                        {% if workouts == [] %}
                            <option>None</option>
                        {% endif %}
                    </select>
                    <input class="form-group" type="button" onclick="get_workouts('{{ url_for('api_hello') }}')" value="View Workout">
                  </form>
                </div>
              </div>
        </div>
      <!-- news feed -->
          <div class="col-3">
            <p>NEWS FEED</p>
            <!-- first elem in feed -->
              <div class="row" style="padding-right:1em;">
                <!-- profile card -->
                  <div class="col-12">
                    <div style="background-color: #f8f9fa; padding:1em;">
                      <div class="row">
                        <div class="col-5">
                          <img class="img-fluid" src="{{ url_for('static', filename='images/defaults/profile.jpg') }}" alt="">
                        </div>
                        <div class="col-7">
                          <p class="h6">MC</p>
                        </div>
                      </div>
                      <div class="row" style="padding-left:1em;">
                        <p>5x5' Update</p>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row" style="padding:1em; padding-bottom:0em; padding-left:0em;">
                <!-- profile card -->
                  <div class="col-12">
                    <div style="background-color: #f8f9fa; padding:1em;">
                      <div class="row">
                        <div class="col-5">
                            <img class="img-fluid" src="{{ url_for('static', filename='images/defaults/profile.jpg') }}" alt="">
                        </div>
                        <div class="col-7">
                          <p class="h6">WK</p>
                        </div>
                      </div>
                      <div class="row" style="padding-left:1em;">
                        <p>5x5' Update</p>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row" style="padding:1em; padding-left:0em;">
                <!-- profile card -->
                  <div class="col-12">
                    <div style="background-color: #f8f9fa; padding:1em;">
                      <div class="row">
                        <div class="col-5">
                            <img class="img-fluid" src="{{ url_for('static', filename='images/defaults/profile.jpg') }}" alt="">
                        </div>
                        <div class="col-7">
                          <p class="h6">DR</p>
                        </div>
                      </div>
                      <div class="row" style="padding-left:1em;">
                        <p>Supplement Update</p>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row" style="padding-right:1em;">
                <!-- profile card -->
                  <div class="col-12">
                    <div style="background-color: #f8f9fa; padding:1em;">
                      <div class="row">
                        <div class="col-5">
                            <img class="img-fluid" src="{{ url_for('static', filename='images/defaults/profile.jpg') }}" alt="">
                        </div>
                        <div class="col-7">
                          <p class="h6">Coach C</p>
                        </div>
                      </div>
                      <div class="row" style="padding-left:1em;">
                        <p>Teamwide Update</p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
    </div>

    <!-- Page Content -->
    <!-- <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">A Bootstrap 4 Starter Template</h1>
          <p class="lead">Complete with pre-defined file paths and responsive navigation!</p>
          <ul class="list-unstyled">
            <li>Bootstrap 4.0.0</li>
            <li>jQuery 3.3.0</li>
          </ul>
        </div>
      </div>
    </div> -->

    <!-- Bootstrap core JavaScript -->
    <!--<script src="vendor/jquery/jquery.min.js"></script>-->
    <!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
    <script src="{{ url_for( 'static', filename='js/bootstrap.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>

  </body>

</html>
