<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <style type="text/css">
      .bgimg {
          background-image: url("{{ url_for('static', filename=current_user.picture) }}");
          background-repeat: no-repeat;
          background-size: 50% 100%;
          background-origin: content-box;
          width: 100%;
          height: 30vh;
          float: left;
      }
      .header1 {
        background-image: url("{{ url_for('static', filename='images/defaults/banner_image.png') }}");
        background-size: contain;
        height: 20vh;
      }
    </style>
    <header class="header1"></header>
</head>
{% extends "flashes.html" %}
{% block body %}
    <body>
        <!-- <div class="topnav">
          <a href="#">Your Team</a>
          <a href="#">Messages</a>
          <a href="#">Workout Logs</a>
          <a href="#" style="float:right;">
            <div class="dropdown">
              <span>Settings</span>
              <div class="dropdown-content">
                <p>hello</p>
                <p>more</p>
              </div>
            </div>
          </a>
        </div> -->
        <div class="nav_bar">
          <li><a href={{ url_for('userlist') }}>Your Team</a></li>
          <li><a href="#">Workouts</a></li>
          <li><a href="#news">Messages</a></li>
          <li class="dropdown" style="float:right; margin-left:20px;">
            <a href="javascript:void(0)" class="dropbtn">Settings</a>
            <div class="dropdown-content">
              <a href={{ url_for('logout') }}>Log Out</a>
              <a href="#">Edit Profile</a>
              <a href={{ url_for('add_workout')}}>Add Workout</a>
            </div>
          </li>
        </div>
        <div class="left_bar">
          <div class="pic_div">
            <div>
              <span>Max McCarthy</span>
            </div>
            <img src="{{ url_for('static', filename=current_user.picture) }}" class="profile_img">
            <div>Team President</div>
          </div>
          <div>
            <div class="bar_box">
              <div>165</div>
              <div>Starboard</div>
              <div>Varsity</div>
            </div>
            <div class="bar_box">
              <div>Meters Rowed</div>
              <div>Miles Run</div>
              <div>Weights Lifted</div>
            </div>
          </div>
        </div>
        <div class="center_blob_top">
          <img src="{{ url_for('static', filename='images/defaults/sample_graph.png') }}" class="graph_image_left">
          <img src="{{ url_for('static', filename='images/defaults/sample_graph.png') }}" class="graph_image_right">
        </div>
        <div class="center_blob_bottom">
          <h1>News Feed - Recent Posts and Workouts</h1>
        </div>
          {% if current_user.is_authenticated %}
              <!-- <div class="bgimg">
              </div> -->
              <!-- <div class="col-3">
                <img src="{{ url_for('static', filename=current_user.picture) }}" width="100%">
              </div> -->
              <!-- <div class="col-3">
                {% if photo_form != None %}
                    <br>
                    <form method="POST" enctype="multipart/form-data">
                        {{ photo_form.hidden_tag() }}
                        {{ photo_form.csrf_token }}
                        {{ photo_form.photo.label }}
                        <br>
                        {{ photo_form.photo }}
                        {% if photo_form.photo.errors != [] %}
                            {% for error in photo_form.photo.errors %}
                                 <span style="color: red;">{{ error }}</span>
                             {% endfor %}
                        {% endif %}
                        <br>
                        {{ photo_form.submit }}
                    </form>
                {% endif %}
              </div> -->
          {% endif %}
    </body>
</html>
{% endblock %}
