<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <form method="POST" action="{{ url_for('signup') }}">
            {% for field in form %}
                <br>{{ field.label }} {% if field.flags.required %}*{% endif %}
                {{ field }}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
                <br>
            {% endfor %}
            <input type=submit value=GO>
        </form>
    </body>
</html>