<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Settings</title>

    <!-- Bootstrap core CSS -->

    <!-- Link versions of bootstrap and JavaScript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <style>
      html {
        height: 100%;
      }
      body {
        height: 100vh;
        padding-top: 54px;
        display: flex;
        flex-direction: column;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

      @media screen and (max-width: 767.98px) {
        .border-right, .border-dark {
          border: none !important;
        }
        .mobile-line {
          display: block !important;
        }
      }
      .mobile-line {
        display: none;
      }
      .content-div {
        flex: 1 0 auto;
      }
      .footer_style {
        flex-shrink: 0;
      }
      .upload-demo .upload-demo-wrap,
      .upload-demo .upload-result,
      .upload-demo.ready .upload-msg {
          display: none;
      }
      .upload-demo.ready .upload-demo-wrap {
          display: block;
      }
      .upload-demo.ready .upload-result {
          display: inline-block;
      }
      .upload-demo-wrap {
          width: 300px;
          height: 300px;
          margin: 0 auto;
      }

      .upload-msg {
          text-align: center;
          padding: 50px;
          font-size: 22px;
          color: #aaa;
          width: 260px;
          margin: 50px auto;
          border: 1px solid #aaa;
      }
    </style>

  </head>

  <body>
    {% extends "flash_box.html" %}
    {% block body %}

    <div class="container content-div">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">Athlessary</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('team') }}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('workouts')}}">Workouts</a>
              </li>
              <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{{url_for('profile')}}">Edit</a>
                  <a class="dropdown-item" href="{{url_for('settings')}}">Settings</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('logout')}}">Log Out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Your Content Here -->
      <div class="row mt-5">
        <div class="col-md-3 border-right border-dark mb-2">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link {% if tab_num == 0 %}active{% endif%}" id="v-pills-home-tab" data-toggle="pill" href="#change-password" role="tab" aria-controls="v-pills-home" aria-selected="true">Change Password</a>
            <a class="nav-link {% if tab_num == 1 %}active{% endif%}" id="v-pills-profile-tab" data-toggle="pill" href="#change-email" role="tab" aria-controls="v-pills-profile" aria-selected="false">Update Email</a>
            <a class="nav-link {% if tab_num == 2 %}active{% endif%}" id="v-pills-profile-tab" data-toggle="pill" href="#user-info" role="tab" aria-controls="v-pills-profile" aria-selected="false">Update Stats</a>
          </div>
          <hr class="mobile-line">
        </div>
        <div class="col-md-9 tab-content">
          <div role="tabpanel" class="tab-pane {% if tab_num == 0 %}active{% endif%}" id="change-password">
            <form method="POST">
              {{pass_form.csrf_token}}
              <div class="form-group row">
                <label for="staticEmail" class="col-xl-3 col-lg-4 col-md-5 col-12 col-form-label">Enter a New Password</label>
                <div class="col-xl-9 col-lg-8 col-md-7 col-12">
                  {{pass_form.new_pass(class_="form-control", placeholder="", autocomplete="new-password")}}
                  <small>
                    {% for err in pass_form.new_pass.errors %}
                      <p class="text-danger mb-0">{{err}}</p>
                    {% endfor %}
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-xl-3 col-lg-4 col-md-5 col-12 col-form-label">Retype Your Password</label>
                <div class="col-xl-9 col-lg-8 col-md-7 col-12">
                  {{pass_form.retype_new_pass(class_="form-control", placeholder="", autocomplete="new-password")}}
                  <small>
                    {% for err in pass_form.retype_new_pass.errors %}
                      <p class="text-danger mb-0">{{err}}</p>
                    {% endfor %}
                  </small>
                </div>
              </div>
              {{pass_form.submit(class_="btn btn-secondary")}}
            </form>
          </div>
          <div role="tabpanel" class="tab-pane {% if tab_num == 1 %}active{% endif%}" id="change-email">
            <form method="POST">
              {{email_form.csrf_token(id='tag1')}}
              <div class="form-group row">
                <label for="" class="col-xl-3 col-lg-4 col-md-5 col-12 col-form-label">Current Email Address</label>
                <div class="col-xl-9 col-lg-8 col-md-7 col-12">
                  <input disabled type="text" name="old_email" value="{{current_user.email}}" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-xl-3 col-lg-4 col-md-5 col-12 col-form-label">New Email Address</label>
                <div class="col-xl-9 col-lg-8 col-md-7 col-12">
                  {{email_form.email(class_="form-control", placeholder="you@example.com", autocomplete="email")}}
                  <small>
                    {% for err in email_form.email.errors %}
                      <p class="text-danger mb-0">{{err}}</p>
                    {% endfor %}
                  </small>
                </div>
              </div>
              {{email_form.email_submit(class_="btn btn-secondary", id='submit1')}}
            </form>
          </div>
          <div role="tabpanel" class="tab-pane {% if tab_num == 1 %}active{% endif%}" id="user-info">
            <form method="POST">
              <div class="row">
                <div class="mx-auto">
                  <h4 class="display-4">Birthday</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-8 mx-auto">
                  {{stats_form.birthday(class_="form-control")}}
                </div>
              </div>
              <div class="d-flex justify-content-center mt-1">
                <div class="form-row">
                  <div class="col-md-12 form-group">
                    <div class="form-check">
                      {{stats_form.show_age(class_="form-check-input form-control-sm")}}
                      <label class="form-check-label" for="show_age">
                        Show my age on my profile?
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="mx-auto">
                  <h4 class="display-4">Weight</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-3 col-md-2">
                  <p class="text-center">75lbs</p>
                </div>
                <div class="col-6 col-md-8 mx-auto">
                  {{stats_form.weight(min=75, max=300, step="0.5", class_="form-control", list="steplist", oninput="outputUpdate(value, 'selected-age')")}}
                  <datalist id="steplist">
                    {% for value in range_list %}
                      <option value="{{value}}" label="{{value}}lbs">
                    {% endfor %}
                  </datalist>
                </div>
                <div class="col-3 col-md-2">
                  <p class="text-center">300lbs</p>
                </div>
              </div>
              <div class="row">
                <div class="mx-auto">
                  <p class="lead"><output for="age" id="selected-age">{{ stats_form.weight.data }}</output>lbs</p>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <div class="form-row">
                  <div class="col-md-12 form-group">
                    <div class="form-check">
                      {{stats_form.show_weight(class_="form-check-input form-control-sm")}}
                      <label class="form-check-label" for="show_age">
                        Show my weight on my profile?
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <hr> -->
              <div class="row mt-4">
                <div class="mx-auto">
                  <h4 class="display-4">Height</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-3 col-md-2">
                  <p class="text-center">56in</p>
                </div>
                <div class="col-6 col-md-8 mx-auto">
                  {{stats_form.height(min=56, max=88, step="0.25", class_="form-control", list="heights", oninput="outputUpdate(value, 'selected-height')")}}
                  <datalist id="heights">
                    {% for value in height_list %}
                      <option value="{{value}}" label="{{value}}lbs">
                    {% endfor %}
                  </datalist>
                </div>
                <div class="col-3 col-md-2">
                  <p class="text-center">88in</p>
                </div>
              </div>
              <div class="row">
                <div class="mx-auto">
                  <p class="lead"><output for="age" id="selected-height">{{ stats_form.height.data }}</output>in</p>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <div class="form-row">
                  <div class="col-md-12 form-group">
                    <div class="form-check">
                      {{stats_form.show_height(class_="form-check-input form-control-sm")}}
                      <label class="form-check-label" for="show_age">
                        Show my height on my profile?
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row form-row">
                <div class="mx-auto">
                  {{stats_form.save_changes(class_="btn btn-secondary mb-2")}}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer_style" style="padding:0em; margin:0em;">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="">
        <div class="container">
          <div class="navbar-brand">
            <p style="margin:0em;">Sub Six Solutions Group&trade; 2018</p>
          </div>
        </div>
      </nav>
    </footer>

    <!-- Core JavaScript -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
      function outputUpdate(number, selector) {
          document.querySelector('#' + selector).value = number;
      }
    </script>
    {% endblock %}
  </body>

</html>
