<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="{{ url_for('static', filename='js/workout.js') }}"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    </head>
    <body>
        <h1>Add a Workout</h1>
        <form method="POST" id="myForm" action="{{ url_for('add_workout') }}">
            <span>Number of Pieces</span>
            <span id="num_pieces_span">
                <input type="number" value="1" id="num_pieces" style="width: 50px;">
            </span>
            <span>BY</span>
            <span id="default_val_div">
                <input type="number" name="" value="2000" id="deflt_val" style="width: 50px;">
            </span>
            <input type="radio" name="workout_type" value="Distance" checked onclick="hide_me('_new')" id="rad1">
            <span>Meters</span>
            <input type="radio" name="workout_type" value="Length" id="rad2" onclick="show_me('default_val_div', 'seconds')">
            <span>Time</span><br>
            <input type="button" value="Add Pieces" id="add_bttn" onClick="addInput('add_pieces', 'num_pieces', 'deflt_val', 'seconds');">
            <span id="add_pieces">
                <!-- Pieces go here -->
            </span>
        </form>
        <h1>Your Workouts</h1>
        <div>
            {% if workouts|length > 0 %}
                {% with ns = namespace(foo=workouts[0]['workout_id'], counter=1) %}
                    {{ workouts[0]['name'] }}
                    {% for i in workouts %}
                        {% if i['workout_id'] != ns.foo %}
                            {% set ns.foo = i['workout_id'] %}
                            {% set ns.counter = 1 %}
                            <br>
                            {{ i['name'] }}
                        {% endif %}
                        <div>
                            <span>Piece {{ ns.counter }}:</span>
                            {% if i['by_distance'] %}
                                {{ i['minutes'] }}:{% if i['seconds'] < 10 %}0{% endif %}{{ i['seconds'] }}
                            {% else %}
                                {{ i['distance'] }}m
                            {% endif %}
                        </div>
                        {% set ns.counter = ns.counter + 1 %}
                    {% endfor %}
                {% endwith %}
            {% endif %}
        </div>
    </body>
</html>
