<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Workouts</title>

    <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Link versions of bootstrap and JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <!-- Custom styles for this template -->
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            padding-top: 54px;
            display: flex;
            flex-direction: column;
        }

        @media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }

        .content-div {
            flex: 1 0 auto;
        }

        .footer_style {
            flex-shrink: 0;
        }

    </style>

</head>

<body>

<div class="content-div">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">Athlessary</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('team') }}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('workouts')}}">Workouts</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{{url_for('profile')}}">Edit</a>
                  <a class="dropdown-item" href="{{url_for('settings')}}">Settings</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <!-- tab bar -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mt-4 mb-2 display-4 text-center">Your Workouts</h2>
                <!-- Tabs -->
                <ul class="nav nav-tabs" id="workout-nav-tab">
                    <li class="nav-item" id="add-workout">
                        <a class="nav-link active" data-toggle="tab" href="#add_a_workout" id="tab-1">Log A Workout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#view_workouts" id="tab-2">View Your Workouts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#list_view" id="tab-3">Edit A Workout</a>
                    </li>
                </ul>

                <!-- Tab Content -->
                <div class="tab-content">
                    <!-- Add Workout Panel -->
                    <div role="tabpanel" class="tab-pane active" id="add_a_workout">
                        <!-- <br> -->
                        <div class="row justify-content-center">
                            <!-- <div class="align-items-center justify-content-center" style="border: 1px solid black; padding:1em; background-color: #f8f9fa;"> -->
                            <div class="align-items-center justify-content-center">
                                <div class="col">
                                    <div class="" id="info-div"> <!-- Alerts go here! --> </div>
                                    <form class="my-3 py-2 border border-dark" action="{{ url_for('workouts') }}"
                                          id="add_workout_form" style="background-color: #f8f9fa;">
                                        <div class="form-row inline-flex align-items-middle mx-2 mt-2 d-md-flex flex-lg-nowrap flex-md-wrap">
                                            <div class="col-lg-auto col-6 mb-2" id="num_pieces_parent">
                                                <small class="form-text text-muted" for="num_pieces">Number of Pieces
                                                </small>
                                                <div class="input-group">
                                                    <input type="number" min="1" class="form-control" id="num_pieces"
                                                           value="1">
                                                </div>
                                                <small name="error"></small>
                                            </div>
                                            <div class="col-lg-auto col-6 mb-2">
                                                <small class="form-text text-muted">Interval Type</small>
                                                <div class="input-group">
                                                    <select class="form-control custom-select" name="units" id="units"
                                                            onchange="switch_input();">
                                                        <option value="meters" name="units">Distance</option>
                                                        <option value="minutes" name="units">Time</option>
                                                    </select>
                                                </div>
                                                <small name="error"></small>
                                            </div>
                                            <div class="col-lg-auto col-12 mb-2" id="min_meter_parent">
                                                <small class="form-text text-muted" id="min_meter_txt"
                                                       for="min_meter_input">Number of Meters
                                                </small>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" id="min_meter_input"
                                                           value="2000">
                                                </div>
                                                <small name="error"></small>
                                            </div>
                                            <div class="col-lg-auto col-6 mb-2" hidden id="second_input_div">
                                                <small class="form-text text-muted" for="second_input">Number of
                                                    Seconds
                                                </small>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" id="second_input"
                                                           value="00">
                                                </div>
                                                <small name="error"></small>
                                            </div>
                                            <div class="col-lg-auto col-12 mb-2" id="submit_bttn_div">
                                                <div class="input-group">
                                                    <small id="submit_bttn_txt"
                                                           class="d-none d-lg-block form-text text-muted">Go!
                                                    </small>
                                                    <input value="Submit" id="submit_bttn" type="button"
                                                           class="btn btn-primary w-100" onclick="generate_form();">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- View Workouts Tab -->
                    <div role="tabpanel" class="tab-pane fade in" id="view_workouts"
                         style="margin-top:1em; margin-bottom:1em;">
                        <ul class="list-group media-list media-list-stream">
                            <div class="row">
                                <!-- Graph Here -->
                                <div class="col-md-8" id="graph_col">
                                    <div class="text-center border border-dark"
                                         style="max-height:65vh; overflow-y:scroll; height:100%; padding-bottom:0em; padding:1em; background-color: #f8f9fa;">
                                        <canvas id="myChart" class="chart" id="a_chart"></canvas>
                                        <div class="col text-center" style="padding-top:1em;">
                                            <!-- <form class=""> -->
                                            <div class="input-group">
                                                <select class="custom-select form-control" name="workout" id="workout">
                                                </select>
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" id="change_workout"
                                                            type="button">View Workout
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- </form> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Info Panel -->
                                <div class="col-md-4">
                                    <div class="border border-dark"
                                         style="max-height: 65vh; overflow-y:scroll; height:100%; padding-bottom:0em; padding:1em; background-color: #f8f9fa;">
                                        <div class="col text-center">
                                            <h5 class="lead" id='cap' ></h5>
                                            <p id="_date"></p>
                                        </div>
                                        <table class="table table-striped" id="side_table">
                                            <thead>
                                            <tr>
                                                <th id="head-1"></th>
                                                <th>Split</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tb2_body">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>

                    <!-- List View -->
                    <div role="tabpanel" class="tab-pane fade in" id="list_view">
                        <ul class="list-group media-list media-list-stream">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 mt-3 border border-dark"
                                         style="padding:1em; background-color: #f8f9fa; margin-bottom:1em;">
                                        <div class="col" style="padding-bottom:1em; text-align:center;">
                                            <form class="" action="index.html" method="post">
                                                <div class="row form-row align-items-center mx-2 mt-2 justify-content-center">
                                                    <div class="col-auto">
                                                        <input class="form-control" type="text" id="myInput"
                                                               onkeyup="myFunction()" placeholder="Search by Name"
                                                               title="Type in a name">
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="form-check check form-check-inline mb-2">
                                                            <input class="form-check-input" type="radio" checked
                                                                   name="a" onclick="reset_text('by Name')" value="Name"
                                                                   id="by_name">
                                                            <label class="form-check-label" for="by_name">Name</label>
                                                        </div>
                                                        <div class="form-check check form-check-inline mb-2">
                                                            <input class="form-check-input" type="radio" name="a"
                                                                   onclick="reset_text('by Date')" value="Date"
                                                                   id="by_date">
                                                            <label class="form-check-label" for="by_date">Date</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="row table-responsive-md">
                                          <table class="table table-striped" id="myTable">
                                            <thead>
                                            <tr>
                                              <th>Date</th>
                                              <th>Name</th>
                                              <th>Split</th>
                                              <th>Edit</th>
                                              <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                          </table>
                                        </div>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="a_modal">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content" id="m_content">
                                                <div class="modal-header" id='m_header'>
                                                    <h5 class="modal-title"></h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form class="align-middle" method="POST" id='edit_form'>
                                                    <div class="modal-body" id='m_body'
                                                         style="max-height:50vh; overflow-y:scroll;">
                                                        <div class="row form-row align-items-top justify-content-center mb-2">
                                                            <div class="col-6 form-group">
                                                                <small class="form-text text-muted" for="date">Date
                                                                </small>
                                                                <div class="input-group">
                                                                    <input class="form-control" type="date" name="date"
                                                                           value="" id="date">
                                                                </div>
                                                                <small name="error"></small>
                                                            </div>
                                                            <div class="col-6 form-group">
                                                                <small class="form-text text-muted" for="time">Time
                                                                </small>
                                                                <div class="input-group">
                                                                    <input class="form-control" type="time" name="time"
                                                                           value="" id="time">
                                                                </div>
                                                                <small name="error"></small>
                                                            </div>
                                                        </div>
                                                        <table id='modal_table'
                                                               class="table table-striped justify-content-center align-items-center align-middle">
                                                            <thead>
                                                            </thead>
                                                            <tbody>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </form>
                                                <div class="modal-footer">
                                                    <input type="button" class="btn btn-primary" name=""
                                                           value="Save Changes" id='save_changes'>
                                                    <!-- <input type="button" class="btn btn-primary" data-dismiss="modal" name="" value="Save Changes" id='save_changes'> -->
                                                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                </div>
                                                <!-- </form> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="footer_style" style="padding:0em; margin:0em;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="">
        <!-- <nav class="navbar navbar-expand-lg"> -->
        <div class="container">
            <div class="navbar-brand">
                <p style="margin:0em;">This is Athlessary</p>
            </div>
        </div>
    </nav>
</footer>


</body>

<!-- workout javascript -->
<script src="{{ url_for('static', filename='js/validate.js') }}"></script>
<script src="{{ url_for('static', filename='js/workout_page.js') }}"></script>
<script src="{{ url_for('static', filename='js/workout.js') }}"></script>


</html>
