<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
      <script src="/wp-includes/js/addInput.js" language="Javascript" type="text/javascript"></script>
      <form method="POST">
          <div class="">
            Number of Pieces <br>
            <input type="number" name="" value="" id="num_pieces">
          </div>
           <div id="dynamicInput">
                Entry 1<br><input type="text" name="myInputs[]">
           </div>
           <input type="button" value="Add another text input" onClick="addInput('dynamicInput');">
      </form>
    </body>
    <script type="text/javascript">
      var counter = 1;
      var limit = 3;
      function addInput(divName){
        let value = document.getElementById("num_pieces").value;
        window.alert(value);
         if (counter == limit)  {
              alert("You have reached the limit of adding " + counter + " inputs");
         }
         else {
              var newdiv = document.createElement('div');
              newdiv.innerHTML = "Entry " + (counter + 1) + " <br><input type='text' name='myInputs[]'>";
              document.getElementById(divName).appendChild(newdiv);
              counter++;
         }
         for (i = 0; i < value; i++) {
           var newdiv = document.createElement('div');
           newdiv.innerHTML = "Entry " + (counter + 1) + " <br><input type='text' name='myInputs[]'>";
           document.getElementById(divName).appendChild(newdiv);
        }
      }
    </script>
</html>
